@using ApplicationCore.Entities
@model List<Product> 
@{
    ViewData["Title"] = "Home Page";
}


@foreach (var item in Model)
{
    <p>
        <img src="~/uploads/products/@item.PictureUri"  height="50" alt="Alternate Text" />
        @item.Price;
    </p>
}
